html {
  margin: 0;
  height: 100%;
}

h1 {
  display: flex;
  margin: 0;
  height: 12vmin;
  width: 120vmin;
  justify-content: center;
  position: relative;
}

body {
  align-items: center;
  background: black;
  color: #ccc;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  overflow: hidden;
  margin: 0;
}

em {
  color: currentColor;
  font-family: 'Open Sans', sans-serif;
  font-size: 15vmin;
  font-style: normal;
  position: relative;
  text-align: center;
  width: 20vmin;
}

em.circle {
  -webkit-animation: circle-rotate 25s linear infinite;
  animation: circle-rotate 25s linear infinite;
  position: relative;
}

em.circle::before {
  background: black;
  border-radius: 50%;
  content: "";
  position: absolute;
  top: -.5vmin;
  left: 3.5vmin;
  width: 13vmin;
  height: 13vmin;
  z-index: -1;
}

em.circle.left {
  -webkit-transform-origin: 40vmin 8vmin;
  transform-origin: 40vmin 8vmin;
  z-index: -2;
}

em.circle.right {
  -webkit-transform-origin: -25vmin 5vmin;
  transform-origin: -25vmin 5vmin;
  z-index: -2;
}

@-webkit-keyframes circle-rotate {
  to {
    -webkit-transform: rotate(2turn);
  }
}

@keyframes circle-rotate {
  to {
    transform: rotate(2turn);
  }
}
